@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&family=Roboto:wght@300;400;500&display=swap");

body {
  font-family: Roboto;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
